[Unit]
Description=Gitea (Git with a cup of tea)
After=syslog.target
After=network.target
#After=mysqld.service
After=postgresql.service
#After=memcached.service
#After=redis.service

[Service]
# Modify these two values and uncomment them if you have
# repos with lots of files and get an HTTP error 500 because
# of that
###
#LimitMEMLOCK=infinity
#LimitNOFILE=65535
PermissionsStartOnly=true
Type=simple
User=git
Group=www-data
WorkingDirectory=/srv/http/git/git.7nerds.de
ExecStartPre=/bin/mkdir -p /var/run/gitea/
ExecStartPre=/bin/chown -R git:www-data /var/run/gitea/
ExecStart=/srv/http/git/git.7nerds.de/gitea web -c custom/conf/app.ini
Restart=always
Environment=USER=git HOME=/srv/http/git/git.7nerds.de

[Install]
WantedBy=multi-user.target
